<link rel="stylesheet" href="/css/principal.css">
<div class="container-principal">
    <header class="new-week">
        <h2 class="new-week-title">Ceremonia de apertura del Mundial Qatar 2022</h2>
        <p class="new-week-text">
            Una deslumbrante ceremonia de apertura dentro del Estadio Al Bait,
            invita al mundo a unirse en Catar con motivo del comienzo de la
            Copa Mundial de la FIFA™
        </p>
        <a href="#" class="btn-new-week">LEER MAS<i class="fas fa-angle-double-right"></i></a>
    </header>
    <div class="container-division">
        <div class="division-hr">
            <div class="ver-todo">
                <h3>ULTIMAS NOTICIAS</h3>
                <a href="/noticias" type="button" class="btn-ver-noticias">
                    <p>Ver todo</p>
                </a>
            </div>
            <hr>
        </div>
        <div class="new-card">
            {{#each noticias }}
            <div id="zoom">
                <figure>
                    <img src={{img}} alt="imagen-noticia" />
                </figure>
                <h3>{{titulo}}</h3>
                <h4>{{nombreequipo}}</h4>
                <a href="/noticias/mostrarNoticia/{{id}}" target="_blank" class="btn-new-cards">Veer más<i
                        class="fas fa-angle-double-right"></i></a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="new-event">
    <div class="division-hr-evento">
        <div class="ver-todo">
            <h3>CALENDARIO</h3>
            <a href="/calendario" type="button" class="btn-ver-calendario">
                <p>Ver todo</p>
            </a>
        </div>
        <hr>
    </div>
    <div class="container-cards-evento">
        {{#each eventos }}
        <div class="new-card-evento">
            <h2>{{nombre}}</h2>
            <div class="new-card-division-evento">
                <h3>{{fecha}}</h3>
                <div class="new-card-columna-evento">
                    <h4>Ubicación:&nbsp{{lugar}}</h4>
                    <h4>Tipo:&nbsp{{nombreequipo}}</h4>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>